@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(100);
  }
}

.animate-slide-in-right {
  animation-name: slide-in-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
